@page
@model RazorPages.Pages.NotFoundModel
@{
	ViewData["Title"] = "NotFound";
}
<div class="row">
	<div class="col text-center">
		<h1 class="text-danger">НИЧЕГО НЕ НАЙДЕНО!</h1>
		<a asp-page="Employees/Employees" class="btn btn-primary">Вернуться на главную</a>
	</div>
</div>
